<footer class="footer">
    <div class="footer-up py-5">
        <div class="d-flex justify-content-between container ">
            <div class="d-flex flex-column align-items-center" (mouseenter)="healthyEnter()" (mouseleave)="healthyLeave()">
                <img src="../../../assets/img/shield-check.png" width="120" [style.transform]="'scale('+healthy+')'">
                <span>تضمین سلامت</span>
            </div>
        
            <div class="d-flex flex-column align-items-center" (mouseenter)="contactEnter()" (mouseleave)="contactLeave()">
                <img src="../../../assets/img/at.png" width="120" [style.transform]="'scale('+contact+')'">
                <span>ارتباطات قوی</span>
            </div>
        
            <div class="d-flex flex-column align-items-center" (mouseenter)="readyEnter()" (mouseleave)="readyLeave()">
                <img src="../../../assets/img/bell-ring.png" width="120" [style.transform]="'scale('+ready+')'">
                <span>همیشه آماده</span>
            </div>
        
            <div class="d-flex flex-column align-items-center" (mouseenter)="worldEnter()" (mouseleave)="worldLeave()">
                <img src="../../../assets/img/world.png" width="120" [style.transform]="'scale('+world+')'">
                <span>در سرتاسر جهان</span>
            </div>
        </div>
    </div>
    
    <div class="bg-black">
        <div class="d-flex justify-content-around container p-5 text-white">
            <div dir="rtl">
                <h4>راه های ارتباطی</h4>
                <p class="mt-4">شماره تماس:021422323</p>
                <p>ایمیل: E.office@info.com</p>
            </div>
    
            <div dir="rtl">
                <h4>دسترسی سریع</h4>
                <p class="mt-4">صفحه اصلی</p>
                <p>فروشگاه</p>
                <p>درباره ما</p>
                <p>تماس با ما</p>
            </div>
    
            <div dir="rtl" style="width: 300px;">
                <h4>E-OFFICE وب سایت</h4>
                <p class="mt-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط علی الخصوص طراحان خلاقی، و فرهنگ پیشرو.</p>
            </div>
        </div>
    </div>
</footer>