.Main {
  background-color: #081821;
  height: 20%;
}

.Mainpic{
width: 340px;
height: 200px;
background-color: #0167f3;
transform: rotate(30deg);
border-radius: 5px;
}

.font{
  direction: rtl;
  color: #e8e8e8;
}

.font-black{
direction: rtl;
color: #1d1d1d;
}

.borderR{
  border-radius: 5px;
}

.bg-blue{
  background-color: #0167f3;
}

.PerspectiveDiv{
  position: absolute;

}

.MainRelative{
  position: relative;
}

.Opacity{
  opacity: 75%;
}

.ExpInput{
  height: 100px;
}

.MainDiv{
  height: 450px;
}


