
<div class="Main d-flex align-items-center">
  <div class="container">
    <div class="d-flex mt-4 font">
      <h1 class="font">درباره ما</h1>
    </div>

    <div class="d-flex font">
      <p class="font">ای افلس بهترین تامين کننده تجهیزات اداری اورجینال با بهترین خدمات پس از فروش در ایران</p>
    </div>

    <div class="mt-4">
    </div>
  </div>


</div>

<section class="container mt-4">
  <div>

    <div class="d-flex row-reverse">
      <div class="d-flex row col-7">
        <div class="d-flex row mt-5 col-10 justify-content-center align-items-end">
          <div class="font-black Opacity"><h3>درباره ما</h3></div>

          <div>
            <p class="font-black Opacity">
              تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
          </p>
          </div>

          <div class="d-flex font">
            <div class="">
              <button class="btn btn-primary"> بیشتر </button>
            </div>
            <div class="mx-4">
              <button class="btn btn-secondary-red" (click)="back()"> بازگشت </button>
            </div>




          </div>

        </div>
      </div>

      <div  class="d-flex justify-content-center col-4 position-relative mt-5">
        <div class="d-flex mt-5 col-12 align-items-center ">
             <!-- شیپ زاویه دار -->
          <div class="d-flex col-3 ">
            <div class="triangle">
            </div>
          </div>

            <!--  -->
          <img class="BorderR" src="../../../assets/img/group-people-working-out-business-plan-office.jpg" alt="">

          </div>

      </div>


    </div>
  </div>


</section>
