
<!-- Mahdi's Code -->

<!-- Product -->
<div class="d-flex position-relative">
  <div class="Absul Address">
    <p class="opacity">صفحه اصلی / محصولات / لوازم خانگی / یخچال</p>
  </div>
</div>

<div class="d-flex flex-row-reverse position-relative my-5">

  <div class="Absul">
    <button class="d-flex btn btn-primary justify-content-center align-items-center Bluebtn">
      <img class="whiteBtn" src="../../../assets/img/w-heart.png"  alt="">
    </button>
    <button class="d-flex btn btn-primary  justify-content-center align-items-center Bluebtn my-2">
      <img class="whiteBtn" src="../../../assets/img/w-bell-ring.png"  alt="">
    </button>
    <button class="d-flex btn btn-primary  justify-content-center align-items-center Bluebtn my-2">
      <img class="whiteBtn" src="../../../assets/img/w-shield-check.png"  alt="">
    </button>
    <button class="d-flex btn btn-primary  justify-content-center align-items-center Bluebtn">
      <img class="whiteBtn" src="../../../assets/img/w-comment.png"  alt="">
    </button>
  </div>
  <section class="container border p-3 BorderR">

    <div class="d-flex col-12  flex-row-reverse">

      <div class="d-flex justify-content-center align-items-center col-6">
        <!-- Product img -->
      <div class="d-flex justify-content-center flex-column mx-4" dir="rtl">
        <div class="">
          <img src="../../../assets/img/pngwing.com (7).png" width="300px" height="100%" alt="">
        </div>

        <div class="d-flex justify-content-between align-items-center" style="margin-top: 120px;">
          <div>
            <img class="border rounded mx-2" src="../../../assets/img/1.jpg" width="80px" height="80px" alt="">
          </div>

          <div>
            <img class="border rounded mx-2" src="../../../assets/img/1.jpg" width="80px" height="80px" alt="">
          </div>

          <div>
            <img class="border rounded mx-2" src="../../../assets/img/1.jpg" width="80px" height="80px" alt="">
          </div>
        </div>
      </div>
      </div>

      <!-- Price -->
      <div class="d-flex flex-column col-6 mt-3" dir="rtl">
        <div>
          <h4 class="FontWeight"> Herman فریزر برند </h4>
        </div>

        <div class="">
          <h6 class="Opacity"> مدل b-147 </h6>
        </div>

        <div class="d-flex my-4">
          <div class="d-flex col-4">
            <h6>  دسته بندی : </h6>
            <h6 class="BlueColor mx-2"> یخچال </h6>
          </div>

          <div class="d-flex col-4">
            <h6 class="">  تولیدکننده : </h6>
            <h6 class="BlueColor mx-2"> هرمان </h6>
          </div>

        </div>

        <div class="d-flex">

          <div class="d-flex col-1">
            <h6> رنگ : </h6>
          </div>

          <div class="d-flex col-1">
            <span  class="GrayColor">

            </span>
          </div>

          <div class="d-flex col-1">
            <span  class="GoldColor">

            </span>
          </div>

        </div>

        <hr class="">

        <div>
          <h5 class="FontWeight"> مشخصات فنی </h5>
        </div>

        <div class="d-flex">
          <div class="d-flex my-4">
            <span class="Dot">

            </span>
          </div>

          <div class="d-flex col-1 my-3  mx-2">
            <h6>
              سردکننده
            </h6>
          </div>
        </div>

        <div class="d-flex  ">
          <div class="d-flex">
            <span class="Dot column">

            </span>
          </div>

          <div class="d-flex col-1 mx-2 column">
            <h6 class="">
              بادوام
            </h6>
          </div>
        </div>

        <div class="d-flex">
          <div class="d-flex">
            <span class="Dot my-1">

            </span>
          </div>

          <div class="d-flex col-1  mx-2">
            <h6 class="d-flex">
              قوی
            </h6>
          </div>
        </div>

        <hr class="">

        <div class="my-5">

          <div class="d-flex col-4">
            <h5 class="BlueColor FontWeight01"> 19.000.000 </h5>
            <h5 class="BlueColor FontWeight01 mx-2 "> تومان </h5>
          </div>

        </div>

        <hr class="">

        <div class="d-flex">


           <div class="d-flex justify-content-center mx-2">

             <select class="form-select" aria-label="Default select example">
              <option selected>تعداد</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
           </div>

           <div>

              <button class="d-flex btn btn-primary-gold position-relative my-3 px-4 ">

                  <div class="" style="margin-right: 50px;">
                    <p>افزودن به سبد خرید</p>
                  </div>

                  <span class="Cartbtn">

                  </span>

                  <img class="d-flex align-items-center Pic" src="../../../assets/img/White_Cart.png" width="20px" height="20px" alt="">




              </button>
           </div>

        </div>

      </div>

    </div>

  </section>

</div>

<!-- Relative Products -->
<section class="container border BorderR">
  <div class="p-3">

    <div dir="rtl">
      <div>
         <h5>
           محصولات مرتبط
         </h5>
        <div class="position-relative mt-3">
          <span class="HRBlue"></span>
        </div>
      </div>

    </div>

      <div class="d-flex justify-content-flex-start">
        <span class="d-flex next-pre shadow LeftArrow">
          <img src="../../../assets/img/left.png" width="20px" height="20px">
        </span>

        <span class="next-pre shadow RightArrow">
          <img src="../../../assets/img/right.png" width="20px" height="20px">
        </span>


      </div>


    <div class="d-flex align-items-center mt-5">

      <div class="col-2">
        <img src="../../../assets/img/kisspng-computer-keyboard-computer-mouse-logitech-gaming-k-keyboard-decoration-design-vector-5a934232ebbc69.9508068215196001789656.png" width="130px" height="100%" alt="">
      </div>

      <div class="col-2">
        <img src="../../../assets/img/kisspng-fax-minsk-panasonic-thermal-paper-digital-enhanced-fax-machine-images-5b1d3f8b49a2c5.9548231615286434673016.png" width="130px" height="100%" alt="">
      </div>

      <div class="col-2">
        <img src="../../../assets/img/kisspng-junk-fax-paper-photocopier-machine-fax-machine-5a73a90f1959a7.5651289515175293591038.png" width="130px" height="100%" alt="">
      </div>

      <div class="col-2">
        <img src="../../../assets/img/kisspng-laser-printing-ricoh-fax-multi-function-printer-5b21bd46cbad98.0289651115289377988343.png" width="130px" height="100%" alt="">
      </div>

      <div class="col-2">
        <img src="../../../assets/img/kisspng-multi-function-printer-brother-industries-brother-dcp-7-6-d-imprimante-multifonction-laser-monochr-5bab3b9c6b6e44.20079422153794857244.png" width="130px" height="100%" alt="">
      </div>

      <div class="col-2">
        <img src="../../../assets/img/kisspng-multi-function-printer-inkjet-printing-canon-autom-color-printer-5a77a6aec2c8c3.9515433815177908947978.png" width="130px" height="100%" alt="">
      </div>

    </div>

    <div class="d-flex justify-content-center mt-4">
      <div class="col-2 RelateFont"> متن لورم ایپسوم </div>
      <div class="col-2 RelateFont"> متن لورم ایپسوم </div>
      <div class="col-2 RelateFont"> متن لورم ایپسوم </div>
      <div class="col-2 RelateFont"> متن لورم ایپسوم </div>
      <div class="col-2 RelateFont"> متن لورم ایپسوم </div>
      <div class="col-2 RelateFont"> متن لورم ایپسوم </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <div class="col-2"> 1.900 تومان </div>
      <div class="col-2"> 1.900 تومان </div>
      <div class="col-2"> 1.900 تومان </div>
      <div class="col-2"> 1.900 تومان </div>
      <div class="col-2"> 1.900 تومان </div>
      <div class="col-2"> 1.900 تومان </div>
    </div>
  </div>
</section>


<!-- Exp Section -->
<section class="container mt-5">
  <div class="d-flex row"  dir="rtl">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">معرفی</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">مشخصات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">توضیحات</a>
      </li>
    </ul>
    <hr class="">
  </div>
</section>

<!-- Exp Product -->
<section class="container border BorderR mt-2">
  <div class="column p-4">
    <div dir="rtl">
      <h4 class="RelateFont">Herman نقد فریزر برند</h4>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <img src="../../../assets/img/ref01.png" width="800px" height="100%" alt="">
    </div>

    <div class="d-flex justify-content-center" dir="rtl">
      <h5 class="mt-5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
      </h5>
    </div>
  </div>
</section>

<hr class="container mt-5">
<!-- Information Section -->

<section class="container  border BorderR">
  <div class=" p-4">

    <div class="" dir="rtl">
      <h5 class="FontWeight">
        مشخصات
      </h5>
      <div class="d-flex justify-content-flex-start position-relative mt-3">
        <span class="HRBlue01"></span>
      </div>
    </div>

    <div class="align-items-center column my-5" dir="rtl">




      <div class="d-flex bd-example my-3">
        <div>
          <h5 class="FontWeight" dir="rtl">ارتفاع</h5>
        </div>
          <h5 class="col-2 bd-example mx-5" dir="rtl">2 متر</h5>
      </div>

      <div class="col-2 d-flex bd-example my-3">
        <div>
          <h5 class="FontWeight" dir="rtl">ارتفاع</h5>
        </div>
          <h5 class="col-4 bd-example mx-5" dir="rtl">2 متر</h5>
      </div>

      <div class="d-flex col-2 bd-example">
        <div>
          <h5 class="FontWeight" dir="rtl">ارتفاع</h5>
        </div>
          <h5 class="col-4 bd-example mx-5" dir="rtl">2 متر</h5>
      </div>

      <div class="d-flex col-2 bd-example my-3">
        <div>
          <h5 class="FontWeight" dir="rtl">ارتفاع</h5>
        </div>
          <h5 class="col-4 bd-example mx-5" dir="rtl">2 متر</h5>
      </div>

      <div class="d-flex col-4 bd-example my-3">
        <div>
          <h5 class="FontWeight" dir="rtl">ارتفاع</h5>
        </div>
          <h5 class="col-2 bd-example mx-5" dir="rtl">2 متر</h5>
      </div>

    </div>


  </div>
</section>

