.header{
    height: 150px;
    background-color: black;
    color: white;
    direction: rtl;
     padding-top: 20px;
    padding-right: 40px;
}
.image{
    width: 100px;
    height: 80px;
}
.page{
    direction: rtl;
}
#input{
    width: 90px;
    height: 60px;
}
.total{
    margin-right: 1200px;
 }
 .input{
     margin-right: 500px;
    width: 900px;
    height: 90px;
}
.buten{
    margin-top: 30px;
    margin-right: 1050px;
    margin-bottom: 30px;
}