<!-- Mahdi's Code -->
<div class="d-flex position-relative">
  <div class="Absul Address">
    <p class="opacity">صفحه اصلی / محصولات / لوازم خانگی / یخچال</p>
  </div>
</div>

<div class="d-flex flex-row-reverse position-relative my-5">

  <div class="Absul">
    <button class="d-flex btn btn-primary justify-content-center align-items-center Bluebtn">
      <img class="whiteBtn" src="../../../assets/img/w-heart.png"  alt="">
    </button>
    <button class="d-flex btn btn-primary  justify-content-center align-items-center Bluebtn my-2">
      <img class="whiteBtn" src="../../../assets/img/w-bell-ring.png"  alt="">
    </button>
    <button class="d-flex btn btn-primary  justify-content-center align-items-center Bluebtn my-2">
      <img class="whiteBtn" src="../../../assets/img/w-shield-check.png"  alt="">
    </button>
    <button class="d-flex btn btn-primary  justify-content-center align-items-center Bluebtn">
      <img class="whiteBtn" src="../../../assets/img/w-comment.png"  alt="">
    </button>
  </div>

  <section class="container  border p-3 BorderR">
    <!-- Points -->
    <div class="" dir="rtl">

    </div>
    <!-- Comments -->
    <div class="col-8" dir="rtl">
      <div class="d-flex col-12 justify-content-around align-items-center">
        <div>
          <img src="../../../assets/img/filter2.png" width="25px" alt="">
        </div>
        <div class="d-flex align-items-center">
          <h6>جدیدترین</h6>
        </div>
        <div class="d-flex align-items-center">
          <h6>قدیمی ترین</h6>
        </div>

        <div class="d-flex align-items-center">
          <h6>بیشترین بازدید</h6>
        </div>

        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <button class="d-flex justify-content-center btn btn-primary p-3 BtnCom">
                <div class="d-flex justify-content-center align-items-center">
                  ثبت نظر
                </div>
            </button>

          </div>

          <div class="d-flex mx-3">
            <button class="d-flex justify-content-center align-items-center btn btn-black BtnCom p-3">
                <div class="d-flex justify-content-center align-items-center p-2">
                  بازگشت
                </div>
            </button>

          </div>
        </div>
      </div>

      <div class="col-12 p-3 mx-3" data-spy = "scroll" data-target = "#navbar-example" data-offset = "0"
      style = "height:500px; overflow:auto; position: relative;">
        <div class="border rounded my-2">
          <div class="d-flex justify-content-between">

            <div class="d-flex p-2">
              <div class="WeightFont">
                 <h6>
                    محمد محمدی
                 </h6>
              </div>

              <div class="mx-2 LittleFont">
                <p> از مشهد </p>
              </div>

            </div>

            <div  class="d-flex p-2 ">
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
            </div>
          </div>

          <div class="d-flex p-2">
            <h6>
              محصول خوب و قابل قبولی بود من که کاملا راضی هستم
            </h6>
          </div>

          <div class="my-5"></div>



        </div>

        <div class="border rounded my-2">
          <div class="d-flex justify-content-between">

            <div class="d-flex p-2">
              <div class="WeightFont">
                 <h6>
                    محمد محمدی
                 </h6>
              </div>

              <div class="mx-2 LittleFont">
                <p> از مشهد </p>
              </div>

            </div>

            <div  class="d-flex p-2">
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
            </div>
          </div>

          <div class="d-flex p-2">
            <h6>
              محصول خوب و قابل قبولی بود من که کاملا راضی هستم
            </h6>
          </div>

          <div class="my-5"></div>



        </div>

        <div class="border rounded my-2">
          <div class="d-flex justify-content-between">

            <div class="d-flex p-2">
              <div class="WeightFont">
                 <h6>
                    محمد محمدی
                 </h6>
              </div>

              <div class="mx-2 LittleFont">
                <p> از مشهد </p>
              </div>

            </div>

            <div  class="d-flex p-2">
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
            </div>
          </div>

          <div class="d-flex p-2">
            <h6>
              محصول خوب و قابل قبولی بود من که کاملا راضی هستم
            </h6>
          </div>

          <div class="my-5"></div>



        </div>

        <div class="border rounded my-2">
          <div class="d-flex justify-content-between">

            <div class="d-flex p-2">
              <div class="WeightFont">
                 <h6>
                    محمد محمدی
                 </h6>
              </div>

              <div class="mx-2 LittleFont">
                <p> از مشهد </p>
              </div>

            </div>

            <div  class="d-flex p-2">
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
            </div>
          </div>

          <div class="d-flex p-2">
            <h6>
              محصول خوب و قابل قبولی بود من که کاملا راضی هستم
            </h6>
          </div>

          <div class="my-5"></div>



        </div>

        <div class="border rounded my-2">
          <div class="d-flex justify-content-between">

            <div class="d-flex p-2">
              <div class="WeightFont">
                 <h6>
                    محمد محمدی
                 </h6>
              </div>

              <div class="mx-2 LittleFont">
                <p> از مشهد </p>
              </div>

            </div>

            <div  class="d-flex p-2">
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
              <div>
                <img src="../../../assets/img/star.png" width="25px" height="25px" alt="">
              </div>
            </div>
          </div>

          <div class="d-flex p-2">
            <h6>
              محصول خوب و قابل قبولی بود من که کاملا راضی هستم
            </h6>
          </div>

          <div class="my-5"></div>



        </div>
      </div>

    </div>

  </section>

</div>
